#cvo-main {
    display: flex;
}
#cv-layout-viewer {
    width: auto;
    padding-top: auto;
    width: 1150px;
    margin: 0 auto;
    overflow: hidden;
}
#cvo-document-root {
    margin: 0 auto;
    float: none;
}
#cvo-document {
    margin-bottom: 30px;
    color: #000;
    width: 100%;
    box-sizing: border-box;
}
.cvo-page {
    background-image: url(/images/bg_029c7c.png);
    padding: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 210mm;
    min-height: 260mm;
    margin: 0 auto;
    box-shadow: 0 0 1px rgb(0, 0, 0 / 25%);
    background-color: #fff;
}
.cvo-subpage {
    padding: 0;
    padding-bottom: 1cm;
    min-height: 200mm; 
}

#cvo-body {
    margin: 0 auto;
    width: 100%;
    min-height: 190mm;
    position: relative;
    font-family: robotocondensed, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}
#cvo-main {
    display: flex;
}
#col-left {
    color: #fff;
    width: 30%;
    min-height: 560px;
    float: left;
    background-color: #03bb96
}
#group-top-left {

}
#col-left #cvo-profile {
    width: 100%;
    padding: 0;
    margin-top: 0;
}
#col-left .cvo-block {
}

#profile-title-wrapper {
    background-color: #029c7c;
    text-align: center;
    padding: 10px 3px;
}
#cvo-profile-avatar-wraper {
    padding: 10px 0;
    text-align: center;
}
#cvo-profile-avatar {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
img {
    border: 0;
    vertical-align: middle;
}
#cvo-profile-fullname {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    line-height: 34px;
    display: inline-block;
    text-transform: uppercase;
}
#cvo-profile-title {
    width: 100%;
    font-size: 14px;
    font-style: italic;
}
#profile-contact-wraper {
    width: 90%;
    margin: 10px auto;
    padding-top: 10px;
}
#cvo-profile-dob-wraper div{
    padding: 5px 0;
}
#profile-contact-wraper i.fa {
    background-color: #029c7c;
    width: 19px;
    height: 19px;
    background-color: #7c7a79;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}
#profile-contact-wraper span {
    padding-left: 3px;
    width: 188px;
    color: #fff;
    vertical-align: top;
    display: inline-block;
}

#profile-contact-wraper div {
    padding: 5px 0;
}
#profile-contact-wraper i.fa {
    background-color: #029c7c;
}
#profile-contact-wraper i.fa {
    width: 19px;
    height: 19px;
    background-color: #7c7a79;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

    
#profile-contact-wraper span#cvo-profile-email {
    word-break: break-all;
}

#cvo-profile-website {
    width: 170px;
    word-break: break-all;
}

/* ============================================================ */
#col-left .cvo-block {
    width: 100%;
    padding: 5px 12px;
}
#col-left .cvo-block-title {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 700;
}
#col-left .cvo-block-title span {
    display: inline-block;
    padding-right: 5px;
    width: 100%;
    vertical-align: middle;
}
#cvo-objective-objective {
    width: 100%;
}
#col-left .cvo-block {
    width: 100%;
    padding: 5px 12px;
}
#col-left .cvo-block-title {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 700;
}
#skillrate-table .row {
    margin-bottom: 10px;
    color: #fff;
}
.cvo-skillrate-title {
    width: 100%;
    display: inline-block;
}
.cvo-skillrate-bar {
    background-color: #fff;
}
.cvo-skillrate-bar {
    margin-top: 3px;
    background-color: #fff;
    display: block;
    width: 100%;
    height: 8px;
    text-align: left;
    padding: 0;
}
.cvo-skillrate-bar[bval="3"] .cvo-skillrate-value {
    width: 60%;
}
.cvo-skillrate-value, #col-right .cvo-block-title i.fa {
    background-color: #029c7c;
}
.cvo-skillrate-value {
    display: block;
    height: 8px;
}
.cvo-skillrate-bar[bval="4"] .cvo-skillrate-value {
    width: 80%;
}
.cvo-skillrate-bar[bval="2"] .cvo-skillrate-value {
    width: 40%;
}
/* ==================================== */
#col-left .cvo-block {
    width: 90%;
    padding: 5px 12px;
}
#cvo-interest {
    padding-left: 0;
    padding-right: 0;
}
#interest-table {
    padding-left: 20px;
}
ol, ul {
    margin-left: 20px;
}
#interest-table .row {
    margin-bottom: 15px;
    color: #fff;
}
#interest-table li {
    width: 100%;
    list-style-type: circle;
}
.cvo-interest-details {
    width: 100%;
    vertical-align: top;
}
